<div class="col-md-4" id="user-sidebar">
	<%= image_tag (current_user.userphoto) , class: "user-img profile", alt: "Image of #{current_user.username}" %>
	<h1><%= current_user.username %></h1>
	<%= render "shared/navlist" %>
	<hr style="clear:both">
	<p><%= render "shared/footer" %></p>
</div>