<div class="col-md-4" id="user-sidebar">
	<%= image_tag (@user.userphoto) , class: "user-img profile", alt: "Image of #{@user.username}" %>
	<h1><%= @user.username %></h1>
	<% if @user == current_user %>
		<p><%= link_to "Edit My Profile", edit_user_registration_path(current_user) %></p>
	<% end %>
	<hr>
	<p><%= render "shared/footer" %></p>
</div>