<%= render "users/userside" %>
<div class="col-md-8">
	<% if !@posts.blank? %>
<script src = "https://maps.googleapis.com/maps/api/js?sensor=true"></script>
		<script>
			function initialize() {
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(showPosition);
				} else {
					alert("Geolocation is not working");
				}
			}
			function showPosition(position) {
				var myLatlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
				var mapOptions = {
					zoom: 15,
					center: myLatlng
				};

				var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

				<%= render partial: "posts/post", collection: @posts %>
			}
			google.maps.event.addDomListener(window, 'load', initialize);
		</script>
	<% else %>
		<h4>I have nothing to complain about. <%= link_to "Click here to start voicing some opinions", new_post_path %></h4>
		<script>
			function initialize() {
				if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(showPosition);
				} else {
					alert("Geolocation is not working");
				}
			}
			function showPosition(position) {
				var myLatlng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
				var mapOptions = {
					zoom: 15,
					center: myLatlng
				};

				var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);
			}
			google.maps.event.addDomListener(window, 'load', initialize);
		</script>
	<% end %>
</div>