<%= render "users/userside" %>
<div class="col-md-8">
	<% if !@posts.blank? %>
		<%= render partial: "posts/post", collection: @posts %>
	<% else %>
		<h4>I have nothing to complain about. <%= link_to "Click here to start voicing some opinions", new_post_path %></h4>
	<% end %>
</div>