<footer class="footer">
	<div class="col-md-12">
		<div id="footer">
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "Privacy", privacy_path %></li>
				<li><%= link_to "Terms", terms_path %></li>
			</ul>
		</div>
	</div>
</footer>