<div class="col-md-4" id="leftsidebar">
	<ul>
		<li><%= link_to "Sign Up", new_user_registration_path %></li>
		<li><%= link_to "Sign In", new_user_session_path %></li>
	</ul>
	<p><%= render "shared/footer" %></p>
</div>