<h1>We're sorry, but something went wrong.</h1>
<p><%= link_to "Try refreshing the page!", "javascript:history.go(0)" %></p>
<p>If the problem continues please <a href="mailto:gridlockedapp@gmail.com">let us know</a></p>