<h2>Sign in</h2>


<%= render "devise/sessions/new" %>
<%= render "devise/shared/links" %>


	<div class="row index" id='beige'>
		<div class="col-md-12">
			<%= render "shared/indexfooter" %>
		</div>
	</div>