<h3><%= @post.title %></h3>
<p><%= @post.content %></p>
<p class="static-map"><img src="http://maps.google.com/maps/api/staticmap?zoom=16&size=800x300&maptype=streetview&markers=<%= @post.location %>&sensor=false[/IMG]
"></p>
<hr>